.container{
    width: 800px;
    height: 500px;
    background-color: aqua;
    position: absolute;
    top: 80px;
    left: 80px;
}

.hitung{
    width: 300px;
    height: 500px;
    background-color: blue;
    float: left;
    position: absolute;
    right:150px;
    top: 80px;
}

.grafik{
    width: 800px;
    height: 5px;
    position: absolute;
    top: 250px;
    border-top: dashed black;
}

.lensa{
    width: 80px;
    height: 300px;
    background-color: chartreuse;
    border-radius: 50%;
    position: absolute;
    left: 360px;
    top: 100px;
}

.pusat{
    width: 10px;
    height: 10px;
    background-color: gray;
    position: absolute;
    top: 245px;
    right: 395px;

}

.benda{
    background-color: navajowhite;
    position: absolute;
}

.bayangan{
    background-color: maroon;
    position: absolute;

}

.sifat{
    width: 300px;
    height: 130px;
    background-color: salmon;
    position:absolute;
    bottom: 40px;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
}

.input{
    height: 140px;
    width: 300px;
    background-color: sandybrown;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 20px;
}

.output{
    height:190px;
    width: 300px;
    background-color: gold;
    position: absolute;
    font-size: 24px;   
    top: 140px;
    padding: 10px;
    line-height: 40px;
    box-sizing: border-box;
}

.apply{
    height: 40px;
    width: 300px;
    background-color: khaki;
    position: absolute;
    bottom: 0;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

.ket{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 30px;
}

.satu{
    left: 80px;
    background-color: navajowhite;
}

.dua{
    left: 250px;
    background-color: maroon;
}

.tulis{
    position: absolute;
    left: 40px;
    top: 5px;
}

.judul{
    width: 800px;
    height: 50px;
    background-color: red;
    position: absolute;
    left: 250px;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    top: 13px;
}